/bin
/20150410 ReleasePlanung_3_Anfang.xlsx
/20150413 PBL_3_Anfang.xlsx
/20150413 PBL_3_Anfang.csv
/20150410 ReleasePlanung_3_Anfang.csv
/.gradle
/build
/productTimeline.db
/20150410 Releases_3.csv
/20150510 productTimeline.db
