.chart-bar {
    -fx-border-color: rgba(0,0,0,0.3);
}

.Done {
	-fx-background-color: GoldenRod;
}

.Todo {
	-fx-background-color: RoyalBlue;
}

.Canceled {
	-fx-background-color: White;
}

.InProgress {
	-fx-background-color: Silver;
}

.Earlier {
	-fx-background-color: linear-gradient(to top, White 0%, RoyalBlue 100%); 
	
}

.Later {
	-fx-background-color: linear-gradient(to bottom, White 0%, Red 100%);
}

.New {
	-fx-background-color: Yellow;
}